{% extends 'fullmenu.html' %}

{% block contents%}

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Menambahkan Dasar Tugas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Pilih Dasar Tugas:
          <form method="post" action="/evaluasi/add/dasar/?surat={{evaluasi.Nomor_Surat}}">
            {% csrf_token %}
            <select name="dasarnya" class="form-select" required>
                    <option value="">--------</option>
                {% for dasar in list_dasar%}
                    <option value="{{dasar.dasar}}">{{dasar.dasar}}</option>
                {% endfor%}
            </select>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
          <button type="submit" class="btn btn-primary" >Tambahkan</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Menambahkan Peserta Tugas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="/evaluasi/add/pegawai/?surat={{evaluasi.Nomor_Surat}}">
            {% csrf_token %}
            Pilih Peserta Tugas:
            <select name="pesertanya" class="form-select" required>
                  <option value="">--------</option>
              {% for peserta in list_peserta%}
                  <option value="{{peserta.NIP}}">{{peserta.Nama}} ({{peserta.NIP}})</option>
              {% endfor%}
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Tambahkan</button>
          </form>
        </div>
      </div>
    </div>
  </div>


<div class="h3 p-2 fw-bold">&rarr; Menambah Laporan Evaluasi<hr><div style="font-size:15px;font-weight:bold">A. Detail Surat Tugas</div></div>

<div class="p-2">
    <form method="post">
        {%csrf_token%}
        <table class='table'>
            <tr>
                <td>Nomor Acuan Surat Tugas:</td>
                <td>{{evaluasi.Nomor_Surat_Tugas}} <input type="hidden" id="evaluasiku" value="{{evaluasi.Nomor_Surat_Tugas}}"/>
                </td>
            </tr>
            <tr>
                <td>Nomor Surat Evaluasi:</td>
                <td>{{evaluasi.Nomor_Surat_Eval}}</td>
            </tr>
            <tr>
                <td>Tanggal Surat Evaluasi:</td>
                <td>{{evaluasi.Tanggal_Surat_Eval}}</td>
            </tr>
            <tr>
                <td>Tahun Anggaran Evaluasi:</td>
                <td>{{evaluasi.Tahun_Anggaran}}</td>
            </tr>
            <tr>
              <td>Periode Awal Evaluasi:</td>
              <td>{{evaluasi.Periode_Awal}}</td>
            </tr>
            <tr>
                <td>Periode Akhir Evaluasi:</td>
                <td>{{evaluasi.Periode_Akhir}}</td>
            </tr>
            <tr>
                <td>Periode Pengecekan Pegawai:</td>
                <td>{{evaluasi.Periode_Pegawai}}</td>
            </tr>
            <tr>
                <td>Nama UPPD:</td>
                <td>{{evaluasi.UPPD}}</td>
            </tr>
        </table>
        
    </form>
</div>
<div style="font-size:15px;font-weight:bold;margin-top:20px">B. Anggota Tim</div>
<div style="margin-left:10px">
  <table class="table">
    <tr>
      <td>Ketua Tim:</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nama: {{ketua_tim.Ketua_Tim.Nama}}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NIP: {{ketua_tim.Ketua_Tim.NIP}}</td>
    </tr>
    <tr>
      <td>Anggota Tim:</td>
      <td>
        <ol>
          {% for anggota in anggota_tim %}
            <li>
              Nama: {{anggota.Peserta.Nama}}<br>
              NIP: {{anggota.Peserta.NIP}}
            </li>
          {% endfor%}
        </ol>
      </td>
    </tr>
  </table>  
</div>
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">C. Simpulan Hasil Evaluasi Dan Pembinaan</div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">D. Rekomendasi </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">E. Data Umum </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">F. SDM Berdasar Status Kepegawaian </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">F. Data Normatif Pegawai </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">G. Data Keuangan </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">H. Data Aset Tidak Bergerak </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">I. Data Kendaraan Roda 4 Milik Pemkab </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">J. Data Kendaraan Roda 4 Milik Provinsi </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">K. Data Kendaraan Roda 2 Milik Provinsi </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">L. Target Penerimaan PKB </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">M. Tabel Perbandingan Penerimaan PKB </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">N. Data Piutang </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">O. Data Pelunasan Piutang </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">P. Penetapan PKB </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">Q. Pengeloaan Administrasi PKB </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">R. Bea Balik Nama PKB </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">S. Tabel Bea Balik Nama PKB </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">T. 1. Target dan Realisasi PAP </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">T. 2. Object PAP </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">T. 3. Penetapan dan Pembayaran PAP </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">T. 4. Administrasi PAP </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">U. PBBKB </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">V. 1. Target dan Realisasi Retribusi Daerah </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">V. 2. Tabel Target dan Realisasi Retribusi Daerah </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">V. 3. Penetapan dan Pembayaran Target dan Realisasi Retribusi Daerah </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">W. 1. Lokasi Samsat Induk </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">W. 2. Samsat Pembantu </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">W. 3. Samsat Khusus </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">W. 4. Pelayanan Bank Jateng </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">W. 5. Pelayanan Publik oleh Petugas </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">W. 1. Lokasi Samsat Induk </div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ data</a></div>{% endif %}
<hr>
{% comment %} <div style="font-size:15px;font-weight:bold;margin-top:20px">C. Menambah Dasar Surat Tugas</div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><a class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal1">+ dasar surat tugas</a></div>{% endif %} 
<table class="table">
    
        <th>
            <td>No.</td>
            <td>Dasar Tugas</td>
            {% if evaluasi.isDone %}{% else %}<td></td>{% endif %}
        </th>
    
    
        {% for dasarnya in dasar%}
        <tr>
            <td></td>
            <td>{{forloop.counter}}</td>
            <td>{{dasarnya.Dasar.dasar}}</td>
            {% if evaluasi.isDone %}{% else %}<td><button type='button' class="btn btn-danger">Hapus</button></td>{% endif %}
        </tr>
        {% endfor%}
    
</table>
<hr>
<div style="font-size:15px;font-weight:bold;margin-top:20px">C. Menambah Anggota Tim</div>
{% if evaluasi.isDone%}{% else %}<div class="d-flex justify-content-end"><button type="button" class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal2">+ anggota tim</button></div>{%endif%}
<table class="table">
    <thead>
        <th>
            <td>No.</td>
            <td>Kode Pegawai</td>
            <td>Nama Pegawai</td>
            {% if evaluasi.isDone %}{% else %}<td></td>{% endif %}
        </th>
    </thead>
    <tbody>
        {% for pesertanya in peserta %}
        <tr>
            <td></td>
            <td>{{forloop.counter}}</td>
            <td>{{pesertanya.Peserta.NIP}}</td>
            <td>{{pesertanya.Peserta.Nama}}</td>
            {% if evaluasi.isDone %}{% else %}<td><button type="button" class="btn btn-danger">Hapus</button></td>{% endif %}
        </tr>
        {% endfor%}
    </tbody>
</table> {% endcomment %}
<hr>

<script>
    nomor_surat = $("#evaluasiku").val();

    function tambahkan_dasar() {
        if($("#dasarnya").val()!="") {
            alert($("#tokencsrf").val());
        }
    }
    function tambahkan_peserta() {
        if($("#pesertanya").val()!="") {
            alert($("#pesertanya").val())
        }
    }
    function set_done() {
      window.location.href="/evaluasi/d/?nosurat="+nomor_surat;
    }
</script>
<div class="justify-content-between d-flex"> 
  <button type="button" class="my-1 btn btn-info" onclick="window.location.href=document.referrer">&lt; kembali</button>{% if evaluasi.isDone%}{% else %}<button type="button" class="my-1 btn btn-primary" onclick="set_done()">Final Submit</button>{%endif%} <button type="button" class="my-1 btn btn-success">Download Surat Tugas</button
</div>
{% endblock %}